textract
beautifulsoup4
requests
google-cloud-pubsub
google-cloud-storage
PyMuPDF
python-dotenv
pytesseract
pdf2image
pdfplumber
pillow
trafilatura
readability-lxml
unstructured[all-docs]==0.10.2
pdfminer.six==20221105
